html {
    background-color: none;
}

body {
    height: 100vh;
    margin: 0;
    background-image: url('../img/otroaver.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.full-height {
    height: 100vh;
}

/* From Uiverse.io by cssbuttons-io */
#botoncito {
    height: 90%;
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

#botoncito:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#botoncito:main,
#botoncito:focus {
    user-select: auto;
}

#botoncito:hover:not(:disabled) {
    filter: brightness(1.1);
}

#botoncito:disabled {
    cursor: auto;
}

#botoncito:active:after {
    border-width: 0 0 0px;
}

#botoncito:active {
    padding-bottom: 10px;
}

